<html>
  <head>
    <title>WORLD CUP 2022 QATAR </title>
  </head>
  <body>
    <div class="hero">
      <div class="navbar " >
        <div>


      </div>
      <div class="content">
        <h2>Welcome to world cup</h2>
        <h1>QATAR<br> 2022</h1>
        <button type="button"  routerLink="../home"  >Take a tour</button>
</div>


<div class="useful-links">
  <img src="../../assets/img/share.png" >
  <br><img src="../../assets/img/info.png" >

</div>

</div>


<div class="bubbles">
  <img src="../../assets/img/koora.png">
  <img src="../../assets/img/koora.png">
  <img src="../../assets/img/koora.png">
  <img src="../../assets/img/koora.png">
  <img src="../../assets/img/koora.png">
  <img src="../../assets/img/koora.png">
  <img src="../../assets/img/koora.png">
  <img src="../../assets/img/koora.png">
</div>




<router-outlet></router-outlet>

</div>
  </body>
</html>
